body {
	font-family: "Quicksand", sans-serif !important;
	overflow-x: hidden;
	width: 100% !important;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 15px !important;
	font-weight: 400;
	font-family: "Quicksand", sans-serif !important;
}

// p, a, span, li, label, tr, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, summary, input, textarea, select{
//     font-family: 'Poppins', sans-serif;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
	font-family: "Quicksand", sans-serif;
}

ul {
	padding: 0px;
	margin: 0px;
}
li {
	list-style-type: none;
}
a:hover {
	color: var(--text-color);
}

::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: var(--primary);
}

::selection {
	color: white;
	background: var(--primary);
}

/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: var(--primary);
	@apply dark:bg-primary-500;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress {
	.peg {
		display: block;
		position: absolute;
		right: 0px;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
		opacity: 1;
		-webkit-transform: rotate(3deg) translate(0px, -4px);
		-ms-transform: rotate(3deg) translate(0px, -4px);
		transform: rotate(3deg) translate(0px, -4px);
	}

	.spinner {
		display: none;
	}
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

.container {
	@apply mx-auto;
}
