.json-tree {
  .input-container {
    max-width: 136px;
  }

  .remove-field-icon,
  .insert-field-icon {
    width: 25px;
    height: 25px;
    @apply cursor-pointer;
  }

  .remove-field-icon {
    @apply text-gray-500 hover:(text-gray-700 );
  }

  .insert-field-icon {
    @apply text-gray-300 hover:(text-gray-500 );
    &.active {
      @apply text-gray-500;
    }
  }

  .vert-dots {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 50%, transparent 0%);
    background-repeat: repeat-y;
    background-size: 2px 6px;
    // margin: -28px 0 -8px;
    margin: 7px 0 -5px;
    min-width: 2px;
    width: 2px;

    &.first {
      margin: -28px 0 -8px !important;
    }

    &.active {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 50%, transparent 0%);
    }
  }

  .hor-dots {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.12) 50%, transparent 0%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 6px 2px;
    height: 9px;
    width: 20px;

    &.active {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 50%, transparent 0%);
    }
  }
}

html.dark {
  .json-tree {
    .vert-dots {
      background-image: linear-gradient(to bottom, rgba(233, 233, 233, 0.12) 50%, transparent 0%);

      &.active {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.432) 50%, transparent 0%);
      }
    }
  }

  .hor-dots {
    background-image: linear-gradient(to right, rgba(233, 233, 233, 0.12) 50%, transparent 0%);

    &.active {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.432) 50%, transparent 0%);
    }
  }
}
