.ant-notification {
  width: fit-content;

  > span {
    @apply flex flex-col;
  }
}

.ant-notification-notice {
  @apply border dark:border-gray-800 border-opacity-10 border-gray-900 bg-opacity-80 bg-white dark:(bg-slate-900 bg-opacity-80);
  width: fit-content;
  max-width: 400px;
  backdrop-filter: blur(11px);
  padding: 10px 18px 10px 9px !important;

  .ant-notification-notice-close,
  .ant-notification-notice-message,
  .ant-notification-notice-icon {
    display: none;
  }

  .ant-notification-notice-description {
    margin: 0px !important;
  }
}

.ant-notification-bottomLeft {
  left: 12px !important;
}

.ant-notification-bottomRight {
  right: -10px !important;
}

.ant-notification-topRight,
.ant-notification-topLeft {
  top: 60px !important;
}

.ant-notification-topRight {
  right: -10px !important;
}

body.dark {
  .ant-notification-notice {
    box-shadow: 0 2px 3px rgb(255 255 255 / 9%);
  }
}
